{% extends 'base.html' %}


{% block subtitle %}Comments{% endblock subtitle %}


{% block content %}
    <h1>Comments</h1>
    <br>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Comments history</h4>

                            <p class="card-description">
                                <!-- Click <a href="#">here</a> to clear history -->
                            </p>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>ID No.</th>
                                            <th>User</th>
                                            <th>Comment</th>
                                            <th>Slangs found</th>
                                            <th>View post</th>
                                            <!-- <th>Created On</th> -->
                                        </tr>
                                    </thead>
                                    <tbody id="comment-dump">
                                        <!-- SLANGS GO HERE -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const dumpComment = ( c ) => {
            let el = `<tr>
                        <td>${c.id}</td>
                        <td>${c.user}</td>
                        <td>${c.comment}</td>
                        <td>${c.slangs}</td>
                        <td> <a href="${c.post_url}" target="__blank"> View post </a> </td>
                    </tr>`;
            $( '#comment-dump' ).append( el );
            return el;
        }
    </script>
{% endblock content %}

{%block additional_js%}
    <script type="text/javascript" src="{{url_for('static', filename='comments.js')}}"></script>
{%endblock%}