{% extends 'base.html' %}


{% block subtitle %}Profiles{% endblock subtitle %}


{% block content %}
    <h1>Profiles</h1>
    <br>
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-lg-8 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Profile</h4>

                            <p class="card-description">
                                Click <a href="javascript:addProfile()">here</a> to add new page or profile
                            </p>

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Profile URL</th>
                                            <th>ID No.</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody id="profile-dump">
                                        <!-- PROFILES GO HERE -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const dumpProfile = ( {profile_url, id, tag} ) => {
            let el = `<tr id='profile-${id}'>
                        <td> <a href="${profile_url}" target='__blank'> ${tag} </a> </td>
                        <td>${id}</td>
                        <td> <a href="javascript:removeProfile('${id}')"> Delete </a> </td>
                    </tr>`; 
            $( '#profile-dump' ).append( el );
            return el;
        }

        const popProfile = id => $( `#profile-${id}` ).remove();

    </script>
{% endblock content %}

{%block additional_js%}
    <script type="text/javascript" src="{{url_for('static', filename='profiles.js')}}"></script>
{%endblock%}